@inherits LayoutComponentBase

<div class="flex h-screen bg-gray-100">
    <!-- Sidebar -->
    <NavMenu />

    <!-- Main Content -->
    <div class="flex-1 p-4 overflow-y-auto">
        @Body
    </div>
</div>
